@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #a71a1a;
}
.logo {
    border-radius: 50px;
    border: 10px solid #651010;
    padding: 0px; 
    width: 200px;
    height: 200px;  
  }
#logo_link {
    padding-top: 5px;
    padding-left: 65px;
    justify-self: center;
    align-self: center;
}
header h1 {
    color:#1f2232;
    justify-self: center;
    align-self: center;
}
body {
    font-size: 22px;
    margin: 0px;
    padding: 0px;
    background-color: #d1cbab;
    color: #1f2232;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    text-indent: 15px;
}
.main_container {
    display: grid;
    grid-template-columns: 225px, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: repeat(auto, 1fr);
}
#nav {
    font-family: 'Berkshire Swash', sans-serif;
    line-height: 200%;
    background-color: #d55050;
    float: left;
    min-height: 340px;
    min-width: 225px;
    grid-column: 1/2;
    grid-row: 1/8;
}
#nav a {
    text-align: center;
    color: #1f2232;
    text-decoration: none;
}
#nav a:hover {
    background-color: #d87575;
    color: #6e8cad;
    text-decoration: underline;
}
#class_info {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 50px;
    margin-bottom: 25px;
    font-size: medium;
}
#subclass1 {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: medium;
    margin: 50px;
    margin-bottom: 25px;
}
h1 {
    font-family: 'Berkshire Swash', sans-serif;
    color: #a71a1a;
}
.body_p h2 {
    color:#a71a1a;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}
.r-table {
    border: 5px #1f2232;
    border-collapse: collapse;
}
.r-table td, .r-table th {
    border: 1px solid black;
    padding: 8px;
}
.r-table tr:nth-child(even){
    background-color: #d67b7b;
}
.r-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a71a1a;
    color: #1f2232;
  }
.r-table td:nth-child(1), .r-table td:nth-child(2), .r-table td:nth-child(4), .r-table td:nth-child(5), .r-table td:nth-child(6), .r-table td:nth-child(7), .r-table td:nth-child(8), .r-table td:nth-child(9), .r-table td:nth-child(10), .r-table td:nth-child(11) {
    text-align: center;
}
.subclass_table {
    border: 5px #1f2232;
    border-collapse: collapse;
}
.subclass_table td, .subclass_table th {
    border: 1px solid black;
    padding: 8px;
}
.subclass_table tr:nth-child(even){
    background-color: #d67b7b;
}
.subclass_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a71a1a;
    color: #1f2232;
}
.subclass_table td:nth-child(1), .subclass_table td:nth-child(3) {
    text-align: center;
}

footer {
    background-color: #a71a1a;
    color: #1f2232;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr, 2fr, 1fr;
    font-size: 0.75em;
}
.footer_container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
}
.disclaimer {
    color: #1f2232;
    font-family: 'Berkshire Swash', sans-serif;
    font-size: large;
    grid-column: 1/2;
    margin-top: 75px;
}
#SRD {
    grid-column: 2/5;
    align-items: center;
    justify-items: start;
}
#SRD h1 {
    color:#1f2232;
    font-size: large;
}
#SRD p, #SRD a, #footer_nav a {
    color: #1f2232;
    text-size-adjust: 0.75em;
}
.footer a:hover, #SRD a:hover {
    background-color: #d55050;
    color: #6e8cad;
}
.footer p a:hover {
    text-decoration: underline;
}

