@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #a71a1a;
}
.logo {
    border-radius: 50px;
    border: 10px solid #651010;
    padding: 0px; 
    width: 200px;
    height: 200px;  
  }
#logo_link {
    padding-top: 5px;
    padding-left: 65px;
    justify-self: center;
    align-self: center;
}
header h1 {
    color:#1f2232;
    justify-self: center;
    align-self: center;
}
body {
    font-size: 22px;
    margin: 0px;
    padding: 0px;
    background-color: #d1cbab;
    color: #1f2232;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    text-indent: 15px;
}
.main_container {
    display: grid;
    grid-template-columns: 225px, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: repeat(auto, 1fr);
}
#nav {
    font-family: 'Berkshire Swash', sans-serif;
    line-height: 200%;
    background-color: #d55050;
    float: left;
    min-height: 340px;
    min-width: 225px;
    grid-column: 1/2;
    grid-row: 1/14;
}
#nav a {
    text-align: center;
    color: #1f2232;
    text-decoration: none;
}
#nav a:hover {
    background-color: #d87575;
    color: #6e8cad;
    text-decoration: underline;
}
h1 {
    font-family: 'Berkshire Swash', sans-serif;
    color: #a71a1a;
    text-align: center;
}
h2 {
    font-family: 'Berkshire Swash', sans-serif;
    font-size: large;
    color: #a71a1a;
}
h3 {
    font-size: medium;
    color: #a71a1a
}


#ws-intro {
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-axe {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-bow {
    grid-column: 2/4;
    grid-row: 3/4;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-club {
    grid-column: 2/4;
    grid-row: 4/5;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-crossbow {
    grid-column: 2/4;
    grid-row: 5/6;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-monk {
    grid-column: 2/4;
    grid-row: 6/7;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-polearm {
    grid-column: 2/4;
    grid-row: 8/9;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-rogue {
    grid-column: 2/4;
    grid-row: 9/10;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-scythe {
    grid-column: 2/4;
    grid-row: 10/11;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-spear {
    grid-column: 2/4;
    grid-row: 11/12;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-sword {
    grid-column: 2/4;
    grid-row: 12/13;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}
#ws-whip {
    grid-column: 2/4;
    grid-row: 13/14;
    font-size: medium;
    margin: 50px;
    margin-bottom: 0px;
}

footer {
    background-color: #a71a1a;
    color: #1f2232;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr, 2fr, 1fr;
    font-size: 0.75em;
}
.footer_container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
}
.disclaimer {
    color: #1f2232;
    font-family: 'Berkshire Swash', sans-serif;
    font-size: large;
    grid-column: 1/2;
    margin-top: 75px;
}
#SRD {
    grid-column: 2/5;
    align-items: center;
    justify-items: start;
}
#SRD h1 {
    color:#1f2232;
    font-size: large;
}
#SRD p, #SRD a, #footer_nav a {
    color: #1f2232;
    text-size-adjust: 0.75em;
}
.footer a:hover, #SRD a:hover {
    background-color: #d55050;
    color: #6e8cad;
}
.footer p a:hover {
    text-decoration: underline;
}

